# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [25]:
import pandas as pd
import numpy as np

# Define the number of creatures
num_creatures = 100


# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

In [6]:
df.head()

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Phoenix  858          Good                     97
1     Creature1        Dragon  118          Good                     10
2     Creature2       Mermaid  595     Excellent                     95
3     Creature3       Centaur  895          Fair                     74
4     Creature4       Mermaid  671     Excellent                     94

2. Calculate and print the total number of creatures in the zoo.

In [4]:
df.count()

creature_name            100
creature_type            100
age                      100
health_status            100
magical_ability_score    100
dtype: int64

2.1 calculate the number of unicorns

In [11]:
unicorn_mask = df["creature_type"] == "Unicorn"
unicorn_df = df[unicorn_mask]
len(unicorn_df)

19

2.2 calculate the number creatures by type

In [14]:
df["creature_type"].value_counts()

creature_type
Mermaid    22
Dragon     21
Unicorn    19
Phoenix    15
Centaur    12
Griffin    11
Name: count, dtype: int64

In [26]:
df.groupby("creature_type")["age"].mean()

creature_type
Centaur    505.954545
Dragon     462.937500
Griffin    423.111111
Mermaid    626.200000
Phoenix    548.625000
Unicorn    512.777778
Name: age, dtype: float64

3. Calculate and print the average age of the creatures.

In [20]:
avg_age = df["age"].mean()
avg_age

463.94

4. Find and print the name of the oldest creature.

In [33]:
max_age = df["age"].max()
max_age_index = np.argmax(df["age"])
df.iloc[max_age_index]

creature_name            Creature38
creature_type               Mermaid
age                             988
health_status             Excellent
magical_ability_score            10
Name: 38, dtype: object

5. Identify and print the most common type of creature.

In [6]:
df.["creature_type"].value_counts

'Most common creature type: Dragon'

6. Find and print the average magical ability score for each type of creature.

In [35]:
grouped_by_type_df = df.groupby("creature_type")
grouped_by_type_df["magical_ability_score"].mean()

creature_type
Centaur    52.454545
Dragon     58.062500
Griffin    53.888889
Mermaid    61.600000
Phoenix    53.562500
Unicorn    49.722222
Name: magical_ability_score, dtype: float64

7. Find the names of creatures who have a 'Poor' health status.

11    Creature11
14    Creature14
15    Creature15
16    Creature16
19    Creature19
20    Creature20
23    Creature23
25    Creature25
38    Creature38
39    Creature39
46    Creature46
48    Creature48
50    Creature50
54    Creature54
55    Creature55
63    Creature63
65    Creature65
72    Creature72
77    Creature77
78    Creature78
86    Creature86
92    Creature92
93    Creature93
97    Creature97
Name: creature_name, dtype: object

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª